
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: auto 80px;        
    gap: 10px;                            
    padding: 10px;
}

#container .card {
    border: 3px double blue;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}


#blue-box {
    grid-column: 1 / 3;                 
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

#enterprise {
    grid-column: 3;                      
    grid-row: 1 / 3;                    
}


.importante {
    color: blue;
    font-weight: bold;
}

.negrita {
    font-weight: bold;
}

.vps {
    text-align: center;
    margin: 20px 0;
}
